<div class="container">
  <h1>Create Your Deck</h1>
  <form action="/users/decks" method="post">
    <label for="name">Deck Name:</label>
    <input type="text" name="name">

    <input type="submit" name="submit">
  </form>
</div>
