<form action="/users" method="post">
Full name:<input type="text" name="user[full_name]" placeholder="Full Name"><br>
Username:<input type="text" name="user[username]" placeholder="Username"><br>
Email:<input type="email" name="user[email]" placeholder="Email"><br>
Password:<input type="password" name="user[password]" placeholder="Password"><br>

<button type="submit"> Sign Up </button>
</form>


