<div class="container">
  <form action='/users/new' method='post'>
    Name: <input type="text" name="name" placeholder="Name">
    <div class="password">
    Email: <input type="email" name="email" placeholder="Email">
    </div>
    <div class="password">
    Password: <input type="password" name="password" placeholder="Password">
    </div>
    <input class="password" type="submit" value="submit">
  </form>

  <% if @error %>
    <%= @error %>
  <% end %>

</div>
